<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="Molina.sandata.Member.SEVV_323_TC94639_TC94640_Member_Valid_ClientLastName"/>
      <class name="Molina.sandata.Member.SEVV_323_TC94508_Member_ClientFirstName_Invalid"/>
      <class name="Molina.sandata.Member.SEVV_323_TC94430_Member_Valid_RequiredField"/>
      <class name="Molina.sandata.Member.SEVV_323_TC94657_Member_Valid_value_ClientPhone"/>
      <class name="Molina.sandata.Member.SEVV_323_TC94507_Member_ClientFirstName_valid"/>
      <class name="Molina.sandata.Member.SEVV_323_TC94435_Member_Missing_RequiredField"/>
      <class name="Molina.sandata.Member.SEVV_323_TC94432_Member_All_Field_Maxlength"/>
      <class name="Molina.sandata.Member.SEVV_323_TC94510_Member_ClientFirstName_with_Between_Space"/>
      <class name="Molina.sandata.Member.SEVV_323_TC94433_Member_Minlength_RequiredField"/>
      <class name="Molina.sandata.Member.SEVV_323_TC94659_Member_Valid_value_ClientAddressLine1"/>
      <class name="Molina.sandata.Member.SEVV_323_TC94438_94512_94513_Member_Valid_value_Account"/>
      <class name="Molina.sandata.Member.SEVV_323_TC94431_Member_Maxlength_RequiredField"/>
      <class name="Molina.sandata.Member.SEVV_323_TC94429_Member_Fully_populated_Member"/>
      <class name="Molina.sandata.Member.SEVV_323_TC94635_TC94638_Member_Invalid_ClientLastName"/>
      <class name="Molina.sandata.Member.SEVV_323_TC94511_Member_valid_value_Account"/>
      <class name="Molina.sandata.Member.SEVV_323_TC94509_Member_ClientFirstName_with_Leading_TrailingSpace"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
